@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: none) {
  * {
    user-select: none;
  }
}

.svgContainer {
  overflow: hidden;
  touch-action: pan-x pan-y;
  user-select: none;
}

svg {
  pointer-events: none;
  /* this causes pixelation in Safari */
  /* will-change: transform; */
}

/* debug */
/* .svgContainer { border: 1px solid green; }
svg { border: 1px solid red; } */
