@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: none) {
  * {
    user-select: none;
  }
}

.svgContainer {
  overflow: hidden;
  touch-action: pan-x pan-y;
  user-select: none;
  cursor: grab;
}

svg {
  pointer-events: none;
  /* this causes pixelation in Safari */
  /* will-change: transform; */
}

/* to center: */
/* .svgContainer svg {
  margin: auto;
} */

.svgButtons {
  @apply inline-flex;
}
.svgButtons .zoomIn {
  @apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l;
}
.svgButtons .reset {
  @apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4;
}
.svgButtons .zoomOut {
  @apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r;
}

.svgContainer {
  position: relative;
}

.svgButtons {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
}

.svgContainer:hover .svgButtons {
  opacity: 1;
}

.svgButtons:focus-within {
  opacity: 1;
}

@media (hover: none) {
  .svgButtons {
    display: none;
  }

  .svgContainer:hover .svgButtons {
    opacity: 0;
  }
  
  .svgButtons:focus-within {
    opacity: 0;
  }  
}

/* debug */
/* .svgContainer { border: 1px solid green; }
svg { border: 1px solid red; } */
