@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: none) {
  svg {
    touch-action: none;
  }
  * {
    user-select: none;
  }
}

.svgContainer {
  overflow: hidden;
}

/* debug */
.svgContainer { border: 1px solid green; }
svg { border: 1px solid red; }

canvas {
  touch-action: none;
  user-select: none;
}